/* choose language label */
label {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* outer element */
.outerWrapper {
    background: var(--outer-bg, none);
    display: var(--outer-d, grid);
    gap: var(--outer-gap, 2.5rem);
    grid-template-columns: var(--outer-gtc, 
    repeat(auto-fill, minmax(320px, 1fr)));
    padding: var(--outer-p, 0);
}

/* inner element */
:where(.calendar-wrapper) {
    --day-hover-bgc: hsl(0, 0%, 90%);
    font-family: ui-sans-serif, system-ui, snas-serif;
    inline-size: 100%;
}